:root {
  --space_mono_nav: "Space Mono", sans-serif;
  --yellow: #fc0;
  --site-body-copy\<deleted\|variable-36ece9d9-029d-4aec-a5fe-6ee8e73be6ee\>: "Space Mono", sans-serif;
  --purple: #af52de;
  --blue: #33cabb;
  --cream: #f7f2dd;
  --teal: #007aff;
  --orange: #ff9505;
  --pink: #e91e63;
  --site_body: "DM Sans", sans-serif;
  --soft-black: #030303;
  --lime: #a8e622;
  --red: #ff2d55;
  --site-headlines: "Space Mono", sans-serif;
  --heading: "Space Mono", sans-serif;
  --black: black;
  --relume-library-lite--rl-black: var(--cream);
  --relume-library-lite--rl-white: white;
  --white: white;
  --font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  --site_padding: 0em;
}

.w-embed-youtubevideo {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

p {
  margin-bottom: 10px;
}

a {
  font-family: var(--space_mono_nav);
  color: var(--yellow);
  font-size: 1em;
  line-height: 1em;
  text-decoration: none;
}

a:hover {
  font-family: var(--site-body-copy\<deleted\|variable-36ece9d9-029d-4aec-a5fe-6ee8e73be6ee\>);
  color: var(--yellow);
}

a:active {
  color: var(--purple);
}

a:focus {
  color: var(--yellow);
}

a:visited {
  color: var(--yellow);
  -webkit-text-stroke-color: var(--blue);
}

a.w--current {
  padding-top: 35px;
}

li {
  font-family: var(--site_body);
  color: var(--cream);
  font-size: 1em;
}

img {
  opacity: 1;
  max-width: 100%;
  transition: opacity 1s;
  display: inline-block;
}

.body {
  background-color: var(--soft-black);
  font-family: DM Mono, sans-serif;
}

.navbar {
  float: none;
  aspect-ratio: auto;
  background-color: var(--soft-black);
  font-family: var(--space_mono_nav);
  color: #ccc;
  text-align: left;
  width: 100%;
  min-width: 0;
  padding-top: .5em;
  padding-bottom: .5em;
  display: inline-flex;
  position: sticky;
  top: auto;
  overflow: hidden;
}

.site_logo {
  float: none;
  vertical-align: baseline;
  margin-left: .5em;
  padding-top: .5em;
  padding-bottom: .5em;
  position: relative;
  inset: auto;
}

.flex-container {
  flex-direction: row;
  flex: 1;
  align-items: center;
  display: flex;
}

.cards-section {
  background-color: var(--soft-black);
  margin-bottom: 3px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 1em;
  line-height: 1.2em;
}

.centered-container {
  box-sizing: border-box;
  text-align: center;
  border: 1px #000;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cards-grid-container {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  text-align: left;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: stretch;
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
}

.cards-image-mask {
  border-radius: 0%;
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.cards-image {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  max-width: none;
  height: 100%;
  margin-top: 2em;
  transition-property: none;
  position: absolute;
  inset: 0%;
}

.gallery-lightbox {
  position: relative;
  overflow: hidden;
}

.gallery-thumbnail {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.hero {
  background-color: var(--soft-black);
  color: var(--cream);
  border: 0 solid #fff;
  align-items: center;
  padding: 2em 4em;
  display: block;
}

.nav-link {
  font-family: var(--space_mono_nav);
  color: #ff9505;
  padding-top: 35px;
}

.nav-link.w--current {
  font-family: var(--space_mono_nav);
  color: var(--cream);
  padding-top: 35px;
  font-size: 1em;
  line-height: 1em;
}

.nav-link.yellow {
  color: var(--yellow);
  font-size: 1em;
  line-height: 1em;
  display: block;
}

.nav-link.green {
  color: var(--lime);
  font-size: 1em;
  line-height: 1em;
}

.nav-link.orange {
  color: var(--orange);
  font-size: 1em;
  line-height: 1em;
}

.nav-link.pink {
  color: var(--pink);
  font-size: 1em;
  line-height: 1em;
}

.nav-link.red {
  color: var(--red);
  font-size: 1em;
  line-height: 1em;
}

.nav-link.purple {
  color: var(--purple);
  font-size: 1em;
  line-height: 1em;
}

.nav-link.purple.w--current {
  color: var(--purple);
}

.nav-link.teal {
  color: var(--blue);
  font-size: 1em;
  line-height: 1em;
}

.nav-link.blue {
  color: #007aff;
  font-size: 1em;
  line-height: 1em;
}

.nav-link.lime {
  color: var(--lime);
}

.nav-link.cream {
  color: var(--cream);
}

.container {
  padding-top: 40px;
}

.p_gallery_text {
  font-family: var(--site_body);
  color: var(--cream);
  text-align: left;
  white-space: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

.p_gallery_text.wbg {
  color: var(--soft-black);
  font-family: DM Sans, sans-serif;
  display: block;
}

.p_h1 {
  font-family: var(--site-headlines);
  color: var(--cream);
  text-align: center;
  border: 0 solid #06f;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: .5em;
}

.p_title_body {
  font-family: var(--heading);
  color: var(--cream);
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

.p_h2 {
  font-family: var(--space_mono_nav);
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  font-size: 18px;
}

.p_h2.callout {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 20px;
}

.video {
  padding-bottom: 20px;
}

.button {
  background-color: var(--blue);
  color: var(--cream);
  margin-bottom: 20px;
}

.hero-heading-right {
  font-family: var(--site_body);
  color: var(--cream);
  word-break: normal;
  background-color: #000;
  border-bottom: 1px #e4ebf3;
  padding: 80px 30px;
  font-size: 1em;
  line-height: 1.5em;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.shadow-two {
  box-shadow: 0 4px 24px #96a3b514;
}

.margin-bottom-24px {
  font-family: var(--site_body);
  color: var(--cream);
  margin-bottom: 24px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.list {
  margin-top: 10px;
  padding-top: 10px;
}

.container-3 {
  width: 100%;
  font-size: 1em;
  line-height: 1em;
}

.quick-stack {
  grid-column-gap: 0px;
  grid-row-gap: 20px;
}

.quick-stack.qs_mobile {
  padding: 1em 0;
}

.body-2 {
  background-color: var(--soft-black);
}

.list-2 {
  padding-left: 0;
  padding-right: 0;
  font-family: Space Grotesk, sans-serif;
}

.cell {
  background-color: var(--black);
  padding-bottom: 0;
  display: block;
}

.paragraph-2 {
  margin-left: 20px;
  margin-right: 20px;
}

.paragraph-2.p_gallery_text.wbg {
  color: var(--soft-black);
  margin-top: 0;
  margin-left: 1em;
  margin-right: 1em;
  font-family: DM Sans, sans-serif;
}

.div-block-2 {
  margin-top: 50px;
}

.div-block-3 {
  padding-left: 0;
  padding-right: 0;
}

.h2 {
  font-family: var(--heading);
  padding: 20px 1em;
  font-size: 24px;
  line-height: 36px;
}

.cell-4 {
  background-color: var(--soft-black);
  padding-top: 0;
  padding-left: 20px;
}

.quick-stack-2 {
  grid-column-gap: 0px;
  grid-row-gap: 13px;
}

.quick-stack-2.mobile {
  padding: 1em 0;
}

.image-6 {
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.heading-2 {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 20px;
  padding-left: 0;
  padding-right: 20px;
}

.rl_gallery3_image {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.rl_gallery3_image-wrapper {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.rl_gallery3_lightbox-link {
  width: 100%;
  height: 100%;
}

.rl_gallery3_gallery-grid {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.rl_gallery3_heading-wrapper {
  text-align: center;
  width: 100%;
  max-width: 48rem;
}

.rl_gallery3_component {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.rl-padding-section-large {
  padding-top: .5em;
  padding-bottom: 7rem;
}

.rl-container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.rl-padding-global {
  padding-top: 0%;
  padding-left: 1em;
  padding-right: 1em;
}

.container-4 {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
  line-height: 1.5em;
}

.bp-gallery {
  background-color: var(--cream);
  object-fit: fill;
  flex: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  display: block;
}

.navbar-logo-left {
  background-color: #030303;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.callout {
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
  position: relative;
}

.team-slider {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-5 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-subheading {
  text-align: center;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
}

.team-slider-wrapper {
  background-color: #0000;
  height: auto;
  margin-top: 50px;
}

.team-slide-wrapper {
  width: 30%;
  margin-right: 5%;
}

.team-block {
  background-color: #fff;
  padding-bottom: 24px;
}

.team-member-image-two {
  margin-bottom: 18px;
}

.team-block-info {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.team-member-name-two {
  margin-bottom: 12px;
  font-weight: 600;
}

.team-member-text {
  margin-bottom: 20px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.team-slider-arrow {
  display: none;
}

.team-slider-nav {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.paragraph-4 {
  text-align: left;
}

.menu-button {
  padding-top: 19px;
  padding-bottom: .5em;
}

.rl-text-style-medium-2 {
  font-family: var(--site_body);
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl-padding-section-large-2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.rl-container-large-2 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.rl-padding-global-2 {
  background-color: var(--soft-black);
  padding-left: 5%;
  padding-right: 5%;
}

.p-h2 {
  font-family: var(--site_body);
  color: var(--relume-library-lite--rl-black);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding: .2em 0;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}

.rl_layout192_component {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.rl_section_layout192 {
  background-color: var(--relume-library-lite--rl-white);
}

.body-4 {
  background-color: var(--soft-black);
  font-family: var(--site_body);
}

.link {
  color: var(--teal);
  font-family: DM Sans, sans-serif;
}

.rl_layout250_spacing-block-4 {
  width: 100%;
  padding-bottom: 2rem;
}

.p-body {
  font-family: var(--site_body);
  color: var(--cream);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: .2em;
  padding-bottom: .2em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_layout250_spacing-block-3 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h5-2 {
  font-family: var(--site-headlines);
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.rl_layout250_spacing-block-2 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_home4-features_image-wrapper {
  width: 100%;
  position: relative;
}

.rl_layout250_item {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.rl_layout250_content {
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  width: 100%;
  padding-top: 2rem;
  display: grid;
}

.rl-heading-style-h3 {
  color: var(--cream);
  margin-top: 0;
  margin-bottom: 0;
  font-family: DM Mono, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl_layout250_heading-wrapper {
  width: 100%;
  max-width: 48rem;
}

.rl_layout250_component {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.rl-padding-section-large-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.rl-container-large-3 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.rl-padding-global-4 {
  background-color: var(--soft-black);
  padding-left: 5%;
  padding-right: 5%;
}

.rl_section_layout250 {
  background-color: var(--soft-black);
}

.container-7 {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.paragraph-5 {
  font-family: DM Sans, sans-serif;
}

.p-subheading {
  font-family: var(--site-headlines);
  color: var(--cream);
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: .2em;
  padding-bottom: .2em;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5em;
}

.p-h3 {
  font-family: var(--site-headlines);
}

.p-site-copy {
  font-family: var(--site_body);
  color: var(--cream);
  padding-top: .2em;
  line-height: 1.5em;
}

.p-callout {
  font-family: var(--site-headlines);
}

.p-section-large-cream {
  font-family: var(--site_body);
  color: var(--cream);
}

.heading-6 {
  font-family: var(--site-headlines);
  font-weight: 400;
}

.body-5 {
  background-color: var(--soft-black);
  font-family: var(--site_body);
  color: var(--cream);
}

@media screen and (max-width: 991px) {
  p {
    margin-top: 20px;
  }

  .navbar {
    box-sizing: content-box;
    float: left;
    aspect-ratio: auto;
    text-align: center;
    object-fit: fill;
    border: 0 #000;
    width: 100%;
    min-width: 1%;
    min-height: 5%;
    padding-top: 0;
    padding-bottom: 0;
    display: block;
    bottom: auto;
    overflow: visible;
  }

  .site_logo {
    color: #ccc0;
    flex: 0 auto;
    margin-left: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    display: inline-block;
    position: relative;
    inset: 1em auto auto 1em;
  }

  .flex-container {
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
  }

  .cards-section {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    display: block;
    position: relative;
  }

  .centered-container {
    padding-top: 5%;
    padding-bottom: 20px;
    display: block;
    position: relative;
  }

  .cards-grid-container {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .hero {
    padding: 2em 1em;
    position: relative;
  }

  .nav-link.w--current {
    padding-top: 20px;
  }

  .p_gallery_text {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .p_gallery_text.wbg {
    margin-top: 1em;
    font-family: DM Sans, sans-serif;
  }

  .p_h2.callout {
    margin-top: 0;
    margin-bottom: 1em;
    padding-left: 1em;
  }

  .container-2 {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .container-3 {
    float: left;
    -webkit-text-fill-color: inherit;
    background-color: #000;
    background-clip: border-box;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    padding-bottom: 0%;
    display: flex;
    position: static;
  }

  .paragraph-2.p_gallery_text.wbg {
    margin-bottom: 1em;
  }

  .div-block-2 {
    margin-top: 2em;
    padding-top: 2em;
  }

  .image-6 {
    margin-bottom: 1em;
  }

  .rl-padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .container-4 {
    padding-top: 2em;
  }

  .navbar-logo-left {
    padding-right: 0;
  }

  .container-5 {
    max-width: 728px;
  }

  .team-slide-wrapper {
    width: 47%;
    margin-right: 6%;
  }

  .image-10 {
    margin-top: 20px;
  }

  .heading-3 {
    margin-top: 85px;
    display: block;
  }

  .logo_using {
    float: right;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: row;
    justify-content: flex-start;
    align-self: auto;
    align-items: stretch;
    display: flex;
    position: relative;
  }

  .icon {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .menu-button {
    flex: none;
    justify-content: center;
    align-self: center;
    align-items: center;
    display: flex;
  }

  .menu-button.w--open {
    justify-content: flex-start;
    align-items: flex-start;
    display: block;
  }

  .youtube {
    padding-bottom: 1em;
  }

  .rl-padding-section-large-2 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .rl-padding-global-2 {
    background-color: var(--soft-black);
  }

  .p-h2 {
    font-size: 2.75rem;
  }

  .rl_layout192_component {
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    min-height: auto;
  }

  .body-4 {
    background-color: var(--soft-black);
  }

  .rl_layout250_content {
    grid-column-gap: 2rem;
  }

  .rl-heading-style-h3 {
    font-size: 2.25rem;
  }

  .rl-padding-section-large-4 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .div-block-5 {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  a {
    color: var(--cream);
  }

  a:hover {
    color: var(--blue);
    -webkit-text-stroke-color: var(--blue);
  }

  a:active {
    color: var(--teal);
  }

  a:focus {
    color: var(--orange);
  }

  .site_logo {
    aspect-ratio: 2 / 3;
    margin-left: auto;
    padding-bottom: 0;
    inset: 0% auto auto 0%;
  }

  .flex-container {
    flex-direction: column;
  }

  .cards-section {
    padding: 20px;
  }

  .centered-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cards-grid-container {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    align-self: stretch;
    max-width: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero {
    padding: 40px 20px;
  }

  .container {
    padding: 21px 40px 20px;
  }

  .p_gallery_text {
    padding-left: 0;
  }

  .p_gallery_text.wbg {
    font-family: DM Sans, sans-serif;
  }

  .p_h2.callout {
    margin-bottom: 0;
  }

  .hero-heading-right {
    padding: 60px 15px;
  }

  .list-2 {
    padding-top: 1em;
  }

  .paragraph-2.p_gallery_text.wbg {
    margin-bottom: 1em;
    font-family: DM Sans, sans-serif;
  }

  .div-block-3 {
    min-width: 100%;
  }

  .h2 {
    margin-top: 1em;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: .5em;
  }

  .quick-stack-2.mobile {
    margin-top: 1em;
  }

  .image-6 {
    padding-top: 0;
  }

  .rl_gallery3_gallery-grid {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .rl-padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .container-4 {
    flex-flow: wrap;
    padding-top: 1em;
    display: flex;
  }

  .bp-gallery {
    margin-top: 1em;
  }

  .team-slider {
    padding: 60px 15px;
  }

  .logo_using {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    position: absolute;
  }

  .youtube {
    margin-top: auto;
    padding-bottom: 0;
  }

  .rl-text-style-medium-2 {
    margin-top: 2rem;
    font-size: 1rem;
  }

  .rl-padding-section-large-2 {
    padding-top: 4em;
    padding-bottom: 2rem;
  }

  .p-h2 {
    font-size: 2.25rem;
  }

  .rl_layout192_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rl_layout250_spacing-block-4 {
    padding-bottom: 1.5rem;
  }

  .rl_layout250_spacing-block-3 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h5-2 {
    font-size: 1.25rem;
  }

  .rl_layout250_spacing-block-2 {
    padding-bottom: 1.5rem;
  }

  .rl_layout250_content {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rl-heading-style-h3 {
    font-size: 2rem;
  }

  .rl-padding-section-large-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 479px) {
  a {
    color: var(--pink);
  }

  .navbar {
    min-width: auto;
    position: sticky;
    bottom: auto;
  }

  .site_logo {
    top: -.1em;
    left: auto;
  }

  .centered-container {
    text-align: left;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .cards-grid-container {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: ".";
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .hero {
    padding: 0 1em 2em;
  }

  .p_h1 {
    padding-bottom: 20px;
  }

  .container-2 {
    max-width: none;
  }

  .paragraph-2.p_gallery_text.wbg {
    font-family: DM Sans, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
  }

  .container-4 {
    padding-top: 0;
    font-size: 1em;
  }

  .container-5 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .team-slide-wrapper {
    width: 100%;
    margin-right: 0%;
  }

  .rl_layout192_component, .rl_layout250_content {
    grid-template-columns: 1fr;
  }

  .container-7 {
    padding-top: 4em;
    padding-left: 2em;
    padding-right: 2em;
    position: relative;
  }

  .heading-5, .paragraph-5 {
    position: relative;
  }
}

#w-node-_4c0749c9-972f-d0d5-2c25-91bbbe35b961-c633b512, #w-node-d7485f77-18d9-c262-edf7-89df469e0832-7e41e0b8, #w-node-d98df1a7-e5b9-6c51-51b4-536b8c514856-7e41e0b8, #w-node-_0c60b963-d7af-7622-6051-eeb4cbecae5b-7e41e0b8, #w-node-_4b3a3648-b5d6-a671-168c-f454758a767b-0506dc1c {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b1f1038b-8ab6-476c-96d8-912841a942cf-f0ae74c3 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-a32b2665-9d00-4303-c24a-fecde0181f88-f0ae74c3 {
  grid-area: span 2 / span 4 / span 2 / span 4;
}

#w-node-_2cb0e175-ebdf-feaa-a052-9f09954a0f59-f0ae74c3, #w-node-_75ba4c7c-4bae-85b7-2a6a-24b5dceb855b-f0ae74c3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d7d8c9a7-a88e-8618-e69b-ff8484a424e6-f0ae74c3 {
  grid-area: span 2 / span 3 / span 2 / span 3;
}

#w-node-_71ef3354-a9da-6cf9-9f04-079876268c7a-f0ae74c3, #w-node-_5b4d2916-c97f-d065-fef6-77a5f1e92b08-f0ae74c3, #w-node-_2a97f720-0e10-da92-8e39-94985d995b6c-f0ae74c3, #w-node-c62b78f6-7cb9-f3b0-71a8-689b09f43cf9-f0ae74c3, #w-node-d1080c1c-e15b-3094-1f56-890dc69f552d-f0ae74c3, #w-node-c940e9d9-4a56-8f58-361f-b930823c7992-f0ae74c3, #w-node-_40dcc143-592b-92a0-c34d-8d4f51817f7f-f0ae74c3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c3dffa79-823c-1b4f-3239-7f4caa28edf6-f0ae74c3 {
  grid-area: span 2 / span 2 / span 2 / span 2;
}

#w-node-de47cb9e-0886-07ec-2209-39a4ebc4d9ba-f0ae74c3, #w-node-_50d6e554-e66d-3f58-a93b-60939ec5289c-f0ae74c3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2881bbbf-c97d-161b-ca5e-ea472e9132a3-f0ae74c3 {
  grid-area: span 2 / span 2 / span 2 / span 2;
}

#w-node-b997dc82-4c05-c84f-1b76-210b3ef07909-f0ae74c3, #w-node-_31d7d12e-b96a-54ce-9d20-52d316508def-f0ae74c3, #w-node-_090347fe-0e80-4956-26ff-ba231406aec4-f0ae74c3, #w-node-ab1fadc3-6443-07da-76da-4e72f6144ea3-f0ae74c3, #w-node-_7d1c36f8-11bd-f9f9-6e00-85c660b3d427-f0ae74c3, #w-node-_6171d431-071b-92cb-3592-ed375f9e28eb-f0ae74c3, #w-node-_987acd54-1025-aad6-dfdf-388392e65f58-f0ae74c3, #w-node-d1080c1c-e15b-3094-1f56-890dc69f552e-f0ae74c3, #w-node-_31365c6f-ea23-aad0-d001-4e17820ab35b-f0ae74c3, #w-node-de47cb9e-0886-07ec-2209-39a4ebc4d9bb-f0ae74c3, #w-node-_9836a32d-2f80-93f0-7a80-4063136f8a7a-f0ae74c3, #w-node-_7f75c67b-81dc-55e9-c9bf-22340d36d00c-f0ae74c3, #w-node-aea987bd-1b0e-122b-41e7-3177f8421f59-f0ae74c3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5a72ca4a-d5ac-3959-2e42-384e5fe93a6e-530dbba5 {
  grid-template-rows: auto;
  grid-template-columns: 1.75fr .75fr;
}

#w-node-_7d0f871a-cdeb-ca70-6af5-b1f79f9ce018-530dbba5 {
  grid-template-rows: auto auto;
  grid-template-columns: 1.25fr;
}

#w-node-e332f7b4-c862-365a-44f0-1c7867dedccb-530dbba5 {
  grid-row: span 2 / span 2;
}

#w-node-_187e6517-4199-06ac-137c-d0ed063f9dea-d5872fca, #w-node-_31ee9270-dc37-54b9-eb43-5f8012bd9126-d5872fca, #w-node-_18866ce5-396f-ad9b-e28f-d75076e0df30-d5872fca, #w-node-_7b7fb45f-b63a-4761-6a8d-5a15b77476b2-d5872fca, #w-node-aa3e1e14-b82d-48a6-c91b-58172618d5d9-d5872fca, #w-node-fc490c34-ad7b-c7cc-4b5d-80b9992d2105-d5872fca, #w-node-_0701c45a-63fa-6985-b6c7-f7167002e32e-d5872fca, #w-node-_03d7f7f0-135c-757e-bbe9-de801f9c7b44-d5872fca, #w-node-_9cb767de-0ba7-454c-52d7-b2688ff14c0c-d5872fca, #w-node-_86154224-8b6b-b3d3-eaf3-163c7eed69a4-d5872fca, #w-node-ad29b8da-2e8e-673f-f9b4-d57d832c186c-d5872fca, #w-node-_7adc1d80-77a9-c144-a874-a41d48b92608-d5872fca, #w-node-eab67dc5-9a62-d276-c83f-1c073b9eac82-d5872fca, #w-node-_6551e38f-a13c-e5f6-16e2-be3a71f3a9da-d5872fca, #w-node-_2af0fe0d-7182-bfeb-8749-34a83a0f0843-d5872fca, #w-node-f60b6c91-f43b-211f-4f57-254c3c1552ae-d5872fca, #w-node-fa7ac968-192a-60b1-d376-808ad3096c1b-d5872fca, #w-node-_26f46cc0-c361-c238-49fa-e84c3ac9db6c-d5872fca, #w-node-_6ce105ae-30c3-7007-9781-629aeaf9f90c-d5872fca, #w-node-_1c04ac3d-11e5-3492-be73-78bbc3f05dfd-d5872fca, #w-node-_0af3dc4b-6321-97c4-1887-5a55e6006fc0-d5872fca, #w-node-_4e7017bf-4e08-3ed6-534b-8830263874e5-d5872fca, #w-node-e578704a-bc71-ca9f-6754-6b9807d3129a-d5872fca, #w-node-_8dc6c67a-ec8f-9e15-2353-2f18253bc63c-d5872fca {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_9873de4b-e62e-2f15-b8d2-df3bf8d39c96-c633b512 {
    place-self: auto;
  }

  #w-node-_5a72ca4a-d5ac-3959-2e42-384e5fe93a6e-530dbba5 {
    grid-template-rows: auto;
    grid-template-columns: 1.75fr;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_2c1f2bf4-ce76-957c-0c99-b8f4f7f70305-01237ea5 {
    order: -9999;
  }

  #w-node-_9873de4b-e62e-2f15-b8d2-df3bf8d39cba-c633b512, #w-node-_9873de4b-e62e-2f15-b8d2-df3bf8d39cbc-c633b512, #w-node-_47d82518-0d8b-41f9-17fd-fe80dd2aeaee-c633b512, #w-node-b5f6c9a9-04df-92ab-80e9-25ff744dd18a-c633b512, #w-node-_5c9decd8-6b36-bb27-237a-25df70fcd55d-c633b512, #w-node-f5407aa5-6b1b-ba23-c434-577d4c9181a0-c633b512, #w-node-_335819f9-f364-e760-2cd5-ad12c3677991-c633b512, #w-node-_77dd8617-2052-9aa5-5e67-f96a26682911-c633b512, #w-node-_2ac8dc65-edd3-dd03-9dc1-b51674c4a432-c633b512, #w-node-d63648b5-a096-8e4b-b045-961e5677af5e-c633b512, #w-node-_44468543-4d45-2f2d-7582-59985b74fb5f-c633b512, #w-node-d7485f77-18d9-c262-edf7-89df469e084e-7e41e0b8, #w-node-d7485f77-18d9-c262-edf7-89df469e083e-7e41e0b8, #w-node-d7485f77-18d9-c262-edf7-89df469e0840-7e41e0b8, #w-node-d7485f77-18d9-c262-edf7-89df469e0846-7e41e0b8, #w-node-d7485f77-18d9-c262-edf7-89df469e0856-7e41e0b8, #w-node-_2db9b4d3-abd6-1193-3cf2-1b3f1ede25bc-7e41e0b8, #w-node-_2975d8b7-ded0-e7c3-e989-8b6e52afb304-7e41e0b8, #w-node-_4b3a3648-b5d6-a671-168c-f454758a7687-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a7689-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a768f-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a7697-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a769f-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a76a7-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a76af-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a76b7-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a76bf-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a76c7-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a76cf-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a76d7-0506dc1c {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_5a72ca4a-d5ac-3959-2e42-384e5fe93a6e-530dbba5 {
    grid-template-rows: auto;
    grid-template-columns: 1.75fr;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_4c0749c9-972f-d0d5-2c25-91bbbe35b961-c633b512 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_9873de4b-e62e-2f15-b8d2-df3bf8d39cb0-c633b512, #w-node-_47d82518-0d8b-41f9-17fd-fe80dd2aeaeb-c633b512, #w-node-b5f6c9a9-04df-92ab-80e9-25ff744dd187-c633b512, #w-node-_5c9decd8-6b36-bb27-237a-25df70fcd55a-c633b512, #w-node-f5407aa5-6b1b-ba23-c434-577d4c91819d-c633b512, #w-node-_335819f9-f364-e760-2cd5-ad12c367798e-c633b512, #w-node-_77dd8617-2052-9aa5-5e67-f96a2668290e-c633b512, #w-node-_2ac8dc65-edd3-dd03-9dc1-b51674c4a42f-c633b512, #w-node-d63648b5-a096-8e4b-b045-961e5677af5b-c633b512, #w-node-_44468543-4d45-2f2d-7582-59985b74fb5c-c633b512, #w-node-d7485f77-18d9-c262-edf7-89df469e084b-7e41e0b8 {
    grid-column: span 1 / span 1;
  }

  #w-node-d7485f77-18d9-c262-edf7-89df469e0832-7e41e0b8, #w-node-d98df1a7-e5b9-6c51-51b4-536b8c514856-7e41e0b8, #w-node-_0c60b963-d7af-7622-6051-eeb4cbecae5b-7e41e0b8 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-d7485f77-18d9-c262-edf7-89df469e0843-7e41e0b8, #w-node-d7485f77-18d9-c262-edf7-89df469e0853-7e41e0b8, #w-node-_2db9b4d3-abd6-1193-3cf2-1b3f1ede25b9-7e41e0b8, #w-node-_2975d8b7-ded0-e7c3-e989-8b6e52afb301-7e41e0b8 {
    grid-column: span 1 / span 1;
  }

  #w-node-_4b3a3648-b5d6-a671-168c-f454758a767b-0506dc1c {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_4b3a3648-b5d6-a671-168c-f454758a767c-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a768c-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a7694-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a769c-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a76a4-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a76ac-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a76b4-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a76bc-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a76c4-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a76cc-0506dc1c, #w-node-_4b3a3648-b5d6-a671-168c-f454758a76d4-0506dc1c {
    grid-column: span 1 / span 1;
  }

  #w-node-d7d8c9a7-a88e-8618-e69b-ff8484a424e6-f0ae74c3, #w-node-c3dffa79-823c-1b4f-3239-7f4caa28edf6-f0ae74c3, #w-node-_2881bbbf-c97d-161b-ca5e-ea472e9132a3-f0ae74c3 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_5a72ca4a-d5ac-3959-2e42-384e5fe93a6e-530dbba5 {
    grid-template-rows: auto;
    grid-template-columns: 1.75fr;
  }
}


